<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\SQL2014DEV;Initial Catalog=sc90rev171002-xm1cm_Core;User ID=coreuser;Password=Test12345" />
  <add name="master" connectionString="Data Source=.\SQL2014DEV;Initial Catalog=sc90rev171002-xm1cm_Master;User ID=masteruser;Password=Test12345" />
  <add name="web" connectionString="Data Source=.\SQL2014DEV;Initial Catalog=sc90rev171002-xm1cm_Web;User ID=webuser;Password=Test12345" />
  <add name="experienceforms" connectionString="Data Source=.\SQL2014DEV;Initial Catalog=sc90rev171002-xm1cm_ExperienceForms;User ID=formsuser;Password=Test12345" />
</connectionStrings>